[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AlphaSimR"]
	path = AlphaSimR
	url = https://github.com/gaynorr/alphasimr
	shallow = true
	registered = true
